body {
    background-color: #e9e3e3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #646464;
    text-align: center;
}

h1 {
    display: block;
    font-family: 'Pacifico', cursive;
    color: #b50965;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: 3px 5px 1px #00000033;
    letter-spacing: 4px;
    text-decoration: none;
}

